@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  
}


.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.subtitle {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

/* header */

.hero {
    height: 100vh;
    background-image: url('../images/devbg..jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 500;

}

.nav__items {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;

}

.hero__container {
    display: flex;
    color: black
}

.hero__texts {
    width: 80%;
    margin-bottom: 60px;
}

.hero__title {
    font-size: 3.2rem;

}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 280;
    margin: 3px 0;
}

  
/* presentation */

.presentation {

    text-align: center;

}

.presentation__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy {
width: 80%;
margin: 0 auto;

}

/* about */

.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img {
    text-align: center;
}

.about__picture {
max-width: 80%;
}

.about__paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;

}

/* projects */

.projects {
    background: #f2f2f2

}

.projects__grid {
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}

.projects__items {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__items:nth-of-type(1) {
    grid-area: img1;
}

.projects__items:nth-of-type(2) {
    grid-area: img2;
}

.projects__items:nth-of-type(3) {
    grid-area: img3;
}

.projects__items:nth-of-type(4) {
    grid-area: img4;
}

.projects__items:nth-of-type(5) {
    grid-area: img5;
}

.projects__hover {
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    transform: translateX(100%) ;
    background: #dc143c8c
    
}

.projects__items:hover .projects__hover {
    transform: translateX(0%);
}

.projects__icon {
margin-top: 10px;
font-size: 30px;
}

/* footer */

.footer {
background-color:black
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__text {
    color: white;
}

.footer__title {
    font-weight: 300px;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;

}

.footer__social {
    display: flex;
    justify-content: space-evenly;
    
}

.footer__icon {
    display: flex;
    width: 70px;
    height: 70px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

/* Contacto */

.form__input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 0.2em;
}

.form__input--mesagge {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
}

.form__cta {
    font-family: inherit;
    font-size: 1rem;
    background-color: #089FE0;
    color: #f2f2f2;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}


.form {
    background-color: gainsboro;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em ;
}

.form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}



/* responsive design */

@media screen and (max-width: 800px) {
   
    .nav {
        justify-content: space-around;
    }

    .nav__items {
        font-weight: 400;
        border-bottom: 1px solid white;
        margin-right: 0;
    }

    .hero__texts {
        width: 100%;
        margin-bottom: 80px;
    }

    .hero__title {
        font-size: 2.5rem;
        
    }

    .hero__subtitle {
        font-size: 1.5rem;
        
    }

    /* About */

    .presentation__copy {
        width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about.container {
        padding-top: 30px;
    }

    .about__img--left {
        text-align: center;
    }

    .about__text:last-child {
        grid-row: 3/4;

    }

    /* Herramientas */

    

    .projects__grid{
        grid-template-areas: 
        "img1 img1 img2 img2"
        "img1 img1 img3 img3"
        "img4 img4 img5 img5";

    }

    /* footer */

    .footer__grid {
        grid-template-columns: 1fr;
    }

    .footer__contact {
        grid-row: 1/2;
    }

}

@media screen and (max-width: 500px) {

    .subtitle {
        font-size: 2rem;
        margin-bottom: 20px

    }
    .nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items {
        padding: 0 10px;
        border: 0;
    }

    .hero__texts {
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__title {
        font-size: 2rem;

    }

    /* About */ 

    .presentation__picture {
        width: 120px;
        height: 120px;
    }
    
    .about {
        row-gap: 60px;
    }

    .about.container {
        padding-top: 10px;
    }

    /* Herramientas */

    .projects__grid {
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-rows: 250px;
        gap: 10px;
    }

    /* Footer */

    .footer__title {
        font-size: 2rem;
    }

    .footer__icon {
        font-size: 1rem;
        justify-content: space-evenly;
    }
}
    


